{% load static %}
<!DOCTYPE html>
<html> 
<head>
<title>Booking_agra</title>
<link href="{% static 'ticket.css' %}" rel="stylesheet">
</head>
<body>
	
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Book Ticket</h1>
		
			<div class="main-agileinfo">
				<div class="agileits-top">
					<form method = "POST" action = "bookingagra">
						{% csrf_token %}
						<input class="text" type="text" name="first_name" placeholder="FirstName" required="">
						<input class="text" type="text" name="last_name" placeholder="LastName" required="">
						<input class="text" type="text" name="phone" placeholder="Phone" required="">
						<input class="text" type="text" name="email" placeholder="Email" required="">
						<input class="text" type="text" name="address" placeholder = "Address" required="">
						<input class="text" type="text" name="amount" placeholder = "Enter Your Amount" required="">
						<input class="text" type="text" name="booking_date" placeholder = "YYYY-MM-DD" required="">
						<input class="text" type="text" name="package_name" placeholder="Package Name" required="">
						<input type="submit" value = "Book Ticket">
					</form>
				</div>
			</div>
			<h1><p>Your total amount is : ₹ 5120</p></h1>

	</div>	
	</body>
	</html>